%h2 Are you sure you want to delete this post?

#post-delete
  %h2=   @post[:title]
  %time= @post[:timestamp]
  %p=    @post[:body]

%form{:method => 'post'}
  %input{:type => 'submit', :id => 'submit', :value => 'Yes, Delete Post'}