%form{:method => 'post'}
  %label Title:
  %input{:type => 'text', :id => 'title', :name => 'title', :value => @title}

  %br

  %label Body:
  %textarea{:name => 'body'}
    = @body

  %br

  %input{:type => 'submit', :id => 'submit', :value => 'Update Post'}