!!!
%html
  %head
    %link{:href => "/normalize.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css"}
    %title Simple Blog in Sinatra
  %body
    #wrapper
      %header
        %a{:href => "/"}
          %h1 Simple Blog
      
      #main
        = yield

      %footer
        %small Footer