body {
  font-size: 1.2em;
}

#wrapper {
  width: 768px;
  margin: 0 auto;
}

header {
  width: 100%;
  margin: 93px 0 93px 0;
  text-align: center;
}

header a {
  text-decoration: none;
}

#main {
  width: 100%;
}

#new-post {
  width: 100%;
  margin-bottom: 93px;
  text-align: center;
}

#post-index {
  margin-bottom: 62px;
}

#post-index a {
  text-decoration: none;
}

#post-index p, #post p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
  line-height: 1.6;
}

#post-delete {
  box-sizing: border-box;
  width: 768px;
  height: 100%;
  padding: 12px 15px 12px 15px;
  border-width: 10px;
  border-color: black;
  background-color: hsla(0, 0%, 0%, 0.03);
}

#post-delete h2 {
  margin-top: 0;
}

#post-delete p {
  margin-bottom: 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
}

time {
  color: hsla(0, 0%, 0%, 0.8);
}

a {
  text-decoration: underline;
  text-decoration-style: dashed;
  color: black;
}

label {
  display: block;
  margin-bottom: 10px;
}

input, textarea {
  box-sizing: border-box;
  width: 768px;
}

input#title {
  margin-bottom: 22px;
}

input#submit {
  margin-top: 25px;
}

textarea {
  height: 300px;
}

footer {
  width: 100%;
  margin: 80px 0 60px 0;
  text-align: center;
}